@import "tailwindcss";



/* Regular */
@font-face {
  font-family: "PlayfairDisplay";
  src: url("./assets/fonts/Playfair_Display/static/PlayfairDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins//Poppins-Medium.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

h1{
    font-family: "PlayfairDisplay", sans-serif;
}
p{
    font-family: "Poppins", sans-serif;
}